<app-search></app-search>

<ul>
  <li *ngFor="let car of cars">
    <div class="samochod">
    <a routerLink="/car/{{car.id}}">
      <img [src]="car.link" [alt]="car.model"/>
    </a>
      <div class="content">
<div class="up">
        <ul>
<li>
  <div class="model">
 <p>Model</p>
    {{car.model}}
</div>
</li>
<li>
  <div class="cena">
    <p>Cena (zl)</p>
  {{car.cena}}
</div>
</li>
<li>
  <div class="moc">
    <p>Moc (KM)</p>
  {{car.moc}}
</div>
</li>
<li>
  <div class="pojemnosc">
    <p>Pojemnosc (cm3)</p>
  {{car.pojemnosc}}
</div>
</li>
</ul>
</div>
<div class="down">
<ul>
<li>
  <div class="przebieg">
    <p>Przebieg (tys. km)</p>
  {{car.przebieg}}
</div>
</li>
<li>
  <div class="rok">
    <p>Rok</p>
  {{car.rok}}
</div>
</li>
<li>
  <div class="paliwo">
    <p>Paliwo</p>
  {{car.paliwo}}
</div>
</li>
<li>
  <div class="skrzynia">
    <p>Skrzynia</p>
  {{car.skrzynia}}
</div>
</li>
</ul>
</div>
</div>
      </div>

  </li>
</ul>
